<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Index</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js" integrity="sha256-o8aByMEvaNTcBsw94EfRLbBrJBI+c3mjna/j4LrfyJ8=" crossorigin="anonymous"></script>
  <style>
    * {
      font-family: Helvetica, Arial, sans-serif;
    }

    canvas{
      display : none;
    }

  </style>
</head>
<body>

  <h3>WattWorks Training Curve</h3>
<ul>  
<li>Aantal trainingen : {{amount_training_sessions}}</li>
<li>Gemiddels wattage : {{average}}</li>
<li>Hoogste waarde : {{max}}</li>
<li>Laagste waarde : {{min}}</li>
<li>Aantal maal < 200 : {{below_limit}}</li>
<li>Aantal maal > 200 : {{above_limit}}</li>
</ul>
<hr>
<div class="chart-container" style="position: relative; height:30vh; width:55vw">
  <canvas id="myChart" ></canvas>
</div>

<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{{#each dates}}
                  '{{this}}',
                  {{/each}}],
        datasets: [{
            label: '# of {{blaat}}',
            data: [{{ results }}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }]
        }
    }
});
</script>

  

</body>
</html>
